body{
	font-family: sans-serif;
	 background-image: url("loginbg1.jpg");
	box-sizing: border-box;
	background-attachment: cover;
	background-size: cover;
}

a{
	text-decoration-style: none;
}

.cont{
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 13rem;
	font-size: 14px;

}

.box{
	max-width: 350px;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 1px solid #e6e6e6;
	background-color: #ffff;
	border-radius: 1px;
	margin: 0 0 10px;
	padding: 10px 0;
	flex-grow: 1;
}

.heading{
	margin: 22px auto 12px;
	 background-image: url("loginbg.jpg");
	background-position: -98px 0;
	height: 51px;
	width: 177px;
	overflow: hidden;
}

.field{
	margin: 10px 0;
	position: relative;
	font-size: 14px;
	width: 100px;
	text-overflow: ellipsis;
}

input {
	padding: 9px 0px 7px 9px;
	font-size: 12px;
	width: 20rem;
	outline: none;
	background: #fafafa;
	border-radius: 3px;
	border:1px solid #efefef;
	margin-left: 15px;
}

.login_bt{
	text-align: center;
	width: 100%;
	padding: 0.5rem;
	border: 1px solid transparent;
	background-color: #3897f0;
	color:#fff;
	font-size: 14px;
	cursor: pointer;
	font-weight: 600;
}
.sep{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #999;
	margin-top: 6px; 

}

.sep .line{
height: 1px;
width: 40%
background-color:#dbdbdb;

}

.other{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.btn{
	margin: 1rem:
	border:none;
	cursor: pointer;
	font-size: 14px;
	color: #385185;
	font-weight: 600;
	border:  transparent;
	background-color: #ffff;

}



.fontstyle {
	color: #385185;
	font-size: 1rem;
	padding-right: 1px;

}

.Forgot_pass {
	font-size: 11px;
	color: #003569;
	margin-top: 10px;
}

.signup {
	color: #3897f0;
	font-weight: 600;
	align-items: center;
	text-align: center;
	padding-left: 2px;
}
p#abc{
	padding-left: 65px;
}