*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url(bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: new time roman;
}
h1{
	font-size: 40px;
	color: white;
	margin-top:250px;
}
p{
	font-size: 18px;
	color: white;

}
h3{
	font-size: 25px;
	color: white;
	margin-top: 20px;
}
hr{
	color: white;
	font-weight: 20px;
}
.glyphicon-pencil{
	font-size: 50px;
	color: white;
	float: right;
	margin-top: 20px;
}
.col-md-5{
	margin-top: 80px;
	box-shadow: -1px 1px 60px 10px grey;
	background: rgb(0,0,0,0,-4);
}
.label{
	font-weight: normal;
	margin-top: 9px;
	color: white;
	font-size: 14px;
}
.form-control{
	background: transparent;
	border-radius: 0px;
	border:0px;
	border-bottom: 1px solid white;
	font-size: 18px;
	color: white;

}
small{
	font-size: 15px;
	color: white;
}
input[type="radio"]{
	margin-top: 15px;
}
.btn-info{
	margin-top: 20px;
	font-size: 18px;
	width: 100px;
	margin-bottom: 20px;
	margin-left: 50px;
}